<div class="form-group">
  <input [(ngModel)]="newUser.Surname" type="text" name="surname" placeholder="Ваша Фамилия" class="required" title="*Please provide your surname">
</div>
<div class="form-group">
	<input [(ngModel)]="newUser.Name" type="text" name="name" placeholder="Ваше Имя" class="required" title="*Please provide your name">
</div>
<div class="form-group">
  <input [(ngModel)]="newUser.Patronumic" type="text" name="patronumic" placeholder="Ваше Отчество" class="required" title="*Please provide your patronumic">
</div>
<div class="form-group">
	<input [(ngModel)]="newUser.Email" type="email" name="email" placeholder="Ваш логин" class="required email" title="*Please provide your Email Address">
</div>
<div class="form-group">
	<input [(ngModel)]="newUser.Password" type="password" name="password" placeholder="Ваш пароль" class="required" title="*Please provide your Password">
</div>
<input (click)="SignUp()" type="submit" class="submit-button btn-block" value="Зарегистироватся">
