<div class="form-group">
	<input [(ngModel)]="loginModel.Email" type="email" name="email" placeholder="Ваш логин" class="required email" title="*Please provide your Email Address">
</div>
<div class="form-group">
	<input [(ngModel)]="loginModel.Password" type="password" name="password" placeholder="Ваш пароль" class="required" title="*Please provide your Password">
</div>
<input (click)="SignIn()" type="submit" class="submit-button btn-block" value="Войти">
