<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h2 class="title">Список недвижимости</h2>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Главная</a>
            </li>
            <li class="breadcrumb-item active">Ваш профиль</li>
            <li class="breadcrumb-item active">Список недвижимости</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="currentPersonModel" class="container page-container edit-profile">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <app-nav-menu [isEmployeeRole]="isEmployeeRole" [currentPersonModel]="currentPersonModel"></app-nav-menu>
      </div>
      <div class="col-md-8 col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

