<!-- Page Wrapper -->
<div class="splash active">
  <div class="icon"><p>Подождите пожалуйста, идет загрузка данных</p></div>
</div>

<div class="page-wrapper">

    <!-- Header -->
    <header-menu></header-menu>


	

    <router-outlet></router-outlet>


    <!-- Footer -->
   <footer-menu></footer-menu>

</div>
























