<!-- Slider -->
<!--<div class="flexslider sliders home-property-slider">
  <ul class="slides">
    <li *ngFor="let itemhouse of houses;let i = index">
      <div class="slide-caption">
        <article class="property-post property-post-grid clearfix">
          <div class="property-wrap">
            <header class="property-header clearfix">

              <h2 class="property-title text-truncate">
                <a href="single-property.html">{{itemhouse.name}}</a>
              </h2>
              <p class="property-location">{{itemhouse.address}}</p>
            </header>
            <ul class="property-meta list-unstyled">
              <li *ngFor="let sparam of itemhouse.shortparam">{{sparam}}</li>
            </ul>
            <footer class="property-footer">
              <div class="row">
                <div class="col-sm-6">
                  <span class="property-price">
                    <span>$</span>
                    {{itemhouse.price}}
                  </span>
                </div>
                <div class="col-sm-6 text-right">
                  <a href="#" data-toggle="modal" data-target="#product_view{{i}}" class="btn btn-primary" (click)="viewFullProduct(i)">Подробней</a>
                </div>
              </div>
            </footer>
          </div>
        </article>
      </div>
      <img src="{{itemhouse.img[0]}}" alt="Image">
    </li>

  </ul>
</div>-->
<!-- Slider -->
<!--<div #homepropertyslider class="flexslider sliders home-property-slider">
  <ul class="slides">
    <li *ngFor="let itemhouse of carouselRealEstates;let i = index">
      <div #slidecaption class="slide-caption">
        <article class="property-post property-post-grid clearfix">
          <div class="property-wrap">
            <header class="property-header clearfix">

              <h2 class="property-title text-truncate">
                <a href="single-property.html">Имя Недвижимости</a>
              </h2>
              <p class="property-location">{{getRealEstateAddress(itemhouse.AddressView)}}</p>
            </header>
            <ul class="property-meta list-unstyled">
              <li>Общая пл: {{itemhouse.RealEstate.GrossArea}}</li>
              <li>Этаж: {{itemhouse.RealEstate.Level}}</li>
              <li>Тип: {{itemhouse.RealEstateType.RealEstateTypeName}}</li>
            </ul>
            <footer class="property-footer">
              <div class="row">
                <div class="col-sm-6">
                  <span class="property-price">
                    <span>$</span>
                    {{itemhouse.RealEstate.Price}}
                  </span>
                </div>
                <div class="col-sm-6 text-right">
                  <a href="#" data-toggle="modal" data-target="#product_view{{i}}" class="btn btn-primary" (click)="viewFullProduct(i)">Подробней</a>
                </div>
              </div>
            </footer>
          </div>
        </article>
      </div>
      <img src="{{getRealEstateImages(itemhouse.RealEstate.ImageUrls)}}" alt="Image">
    </li>

  </ul>
</div>-->
<ztw-carousel interval='5000' style='width:100%; height:600px'>
  <ztw-carousel-item *ngFor='let itemhouse of carouselRealEstates; let i = index'>
    <div #slidecaption class="slide-caption">
      <article class="property-post property-post-grid clearfix">
        <div class="property-wrap">
          <header class="property-header clearfix">

            <h2 class="property-title text-truncate">
              <a href="single-property.html">Имя Недвижимости</a><!--{{itemhouse.RealEstate.name}}-->
            </h2>
            <p class="property-location">{{getRealEstateAddress(itemhouse.AddressView)}}</p>
          </header>
          <ul class="property-meta list-unstyled">
            <li>Общая пл: {{itemhouse.RealEstate.GrossArea}}</li>
            <li>Этаж: {{itemhouse.RealEstate.Level}}</li>
            <li>Тип: {{itemhouse.RealEstateType.RealEstateTypeName}}</li>
          </ul>
          <footer class="property-footer">
            <div class="row">
              <div class="col-sm-6">
                <span class="property-price">
                  <span>$</span>
                  {{itemhouse.RealEstate.Price}}
                </span>
              </div>
              <div class="col-sm-6 text-right">
                <a href="#" data-toggle="modal" data-target="#product_view{{i}}" class="btn btn-primary" (click)="viewFullProduct(i)">Подробней</a>
              </div>
            </div>
          </footer>
        </div>
      </article>
    </div>
    <img [src]='imageHelper.getRealEstateImages(itemhouse.RealEstate.ImageUrls)[0]' ztw-carousel-img>
    <!--<div ztw-carousel-header>
      <h1>title</h1>
      <div>hello picture!</div>
    </div>-->
  </ztw-carousel-item>
</ztw-carousel>
<main id="main" class="main">

  <div class="container">

    <div class="advance-search advance-search-1">
      <form class="advance-search-form" method="get" autocomplete="off">

        <ul class="nav nav-tabs" role="tablist">
          <li (click)="isShortSearchConsole=true" role="presentation" [ngClass]="{'active': isShortSearchConsole}">
            <a>Быстрый фильтр</a>
          </li>
          <li (click)="isShortSearchConsole=false" role="presentation" [ngClass]="{'active': !isShortSearchConsole}">
            <a>Полный фильтр</a>
          </li>
        </ul>
        <div class="tab-content">
          <div *ngIf="isShortSearchConsole" class="tab-pane fade" [ngClass]="{'in active': isShortSearchConsole}" id="short">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <div class="rle_searchform_box">
                  <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input type="serch" placeholder="Цена от:"></div>
                  -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select name="cbTypesSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateTypeID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateTypeID">
                      <option [value]=null>Тип недвижимости</option>
                      <option *ngFor="let realEstateType of realEstateTypeList;let i = index" [ngValue]="realEstateType.RealEstateTypeID">{{realEstateType.RealEstateTypeName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginLevel" type="text" placeholder="Этаж/Этажность от:" name="BeginLevel"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndLevel" type="text" placeholder="Этаж/Этажность до:" name="EndLevel"/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginPrice" type="text" placeholder="Цена от:" name="BeginPrice"/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndPrice" type="text" placeholder="Цена до:" name="EndPrice"/>
                  </div>

                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" >
                <div (click)="redirectToFilterRealEstate()" class="rle_searchform_btn">
                  <img src="../../images/icons/search_icon.png">
                  <p>Подобрать</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!isShortSearchConsole" class="tab-pane fade" [ngClass]="{'in active': !isShortSearchConsole}" id="full">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <div class="rle_searchform_box">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginPrice" type="text" placeholder="Цена от:" name="BeginPrice"/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndPrice" type="text" placeholder="Цена до:" name="EndPrice"/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select name="cbTypesSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateTypeID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateTypeID">
                      <option [value]=null>Тип недвижимости</option>
                      <option *ngFor="let realEstateType of realEstateTypeList;let i = index" [ngValue]="realEstateType.RealEstateTypeID">{{realEstateType.RealEstateTypeName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select name="cbTypeWallsSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateTypeWallID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateTypeWallID">
                      <option [value]=null>Тип стен:</option>
                      <option *ngFor="let realEstateTypeWall of realEstateTypeWallList;let i = index" [ngValue]="realEstateTypeWall.RealEstateTypeWallID">{{realEstateTypeWall.RealEstateTypeWallName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginNumberOfRooms" type="text" placeholder="Колличество комнат от:" name="BeginNumberOfRooms"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndNumberOfRooms" type="text" placeholder="Колличество комнат до:" name="EndNumberOfRooms"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginLevel" type="text" placeholder="Этаж/Этажность от:" name="BeginLevel"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndLevel" type="text" placeholder="Этаж/Этажность до:" name="EndLevel"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginGrossArea" type="text" placeholder="Общая площадь от:" name="BeginGrossArea"/>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndGrossArea" type="text" placeholder="Общая площадь до:" name="EndGrossArea" />
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input [(ngModel)]="realEstateFilterView.RealEstateFilter.NearSubway"  type="text" placeholder="Близость к метро:" name="NearSubway"/>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select (ngModelChange)="realEstateFilterView.RealEstateFilter.Elevator=$event" [ngModel]="realEstateFilterView.RealEstateFilter.Elevator" name="CheckElevator">
                      <option [value]=null>Наличие лифта:</option>
                      <option value="true">Да</option>
                      <option value="false">Нет</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select name="cbClassesSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateClassID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateClassID">
                      <option [value]=null>Класс дома:</option>
                      <option *ngFor="let realEstateClass of realEstateClassList;let i = index" [ngValue]="realEstateClass.RealEstateClassID">{{realEstateClass.RealEstateClassName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select name="Cities" (ngModelChange)="realEstateFilterView.AddressFilter.AddressCityID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressCityID">
                      <option [value]=null>Город:</option>
                      <option *ngFor="let addressCity of addressCityList;let i = index" [ngValue]="addressCity.AddressCityID">{{addressCity.AddressCityName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select name="Regions" (ngModelChange)="realEstateFilterView.AddressFilter.AddressRegionID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressRegionID">
                      <option [value]=null>Район:</option>
                      <option *ngFor="let addressRegion of addressRegionList;let i = index" [ngValue]="addressRegion.AddressRegionID">{{addressRegion.AddressRegionName}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select name="Streets" (ngModelChange)="realEstateFilterView.AddressFilter.AddressStreetID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressStreetID">
                      <option [value]=null>Улица:</option>
                      <option *ngFor="let addressStreet of addressStreetList;let i = index" [ngValue]="addressStreet.AddressStreetID">{{addressStreet.AddressStreetName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" >
                <div (click)="redirectToFilterRealEstate()" class="rle_searchform_btn">
                  <img src="../../images/icons/search_icon.png">
                  <p>Подобрать</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="category">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="rle_center_heading rle_bottompadder60">
              <h1>Категории недвижимостей</h1>              
              <p>Перечень основных категорий недвижимостей на сайте</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">

              <div *ngFor="let item of realEstateTypeList" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a (click)="filterByRealEstateType(item.RealEstateTypeID)" class="rle_popularareas_img" rel="filter">
                  <img src="{{imageHelper.getUserImage(item.ImageUrl)}}" alt="" title="">
                  <div class="rle_popularareas_text">
                    <h4>{{item.RealEstateTypeName}}</h4>
                  </div>
                </a>
                <!-- <div>{{item.name}} {{item.img}}</div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-container *ngIf="isShowModal">
    <!-- Modal detail -->
    <div class="modal login-modal fade product_view show" id="product_view" style="display: block;">
      <div class="modal-dialog house_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{selectRealEstate.name}}</h4>
            <a (click)="closeModal()" data-dismiss="modal" class="closeclass pull-right"><span class="glyphicon glyphicon-remove"></span></a>
          </div>

          <div class="modal-body">


            <div class="row">
              <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                  <div *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" class="tab-pane " [ngClass]="istabImge==i ? 'active' : ''" id="pic-{{i}}" aria-expanded="false"><img src="{{imgitem}}"></div>

                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                  <li *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" [ngClass]="istabImge==i ? 'active' : ''"><a data-target="#pic-{{i}}" data-toggle="tab" (click)="tabImge(i)"><img src="{{imgitem}}"></a></li>
                </ul>

              </div>

              <div class="col-md-6 product_content">
                <div class="property">
                  <header class="property-header clearfix">
                    <h2 class="property-title">
                      {{selectRealEstate.name}}
                    </h2>
                    <p class="property-location">{{getRealEstateAddress(selectRealEstate.AddressView)}}</p>
                  </header>

                  <ul class="property-meta list-unstyled">
                    <li>Тип: {{selectRealEstate.RealEstateType.RealEstateTypeName}}</li>
                    <li>Комнат: {{selectRealEstate.RealEstate.NumberOfRooms}}</li>
                    <li>Жилых этажей: {{selectRealEstate.RealEstate.Level}}</li>
                    <li>Общая пл: {{selectRealEstate.RealEstate.GrossArea}} м²</li>
                    <li>Ближайшая станция метро:{{selectRealEstate.RealEstate.NearSubway}}</li>
                    <li>Тип стен: {{selectRealEstate.RealEstateTypeWall.RealEstateTypeWallName}}</li>
                    <li>Тип предложения: от посредника</li>
                    <!--<li>Балкон: <span class="glyphicon glyphicon-ok"></span></li>-->
                    <li>Лифт: <span class="glyphicon {{selectRealEstate.RealEstate.Elevator?'glyphicon-ok':'glyphicon-remove'}} "></span></li>
                    <!--<li>Отоплением : <span class="glyphicon glyphicon-ok"></span></li>
                    <li>Терраса : <span class="glyphicon glyphicon-ok"></span></li>
                    <li>Сад : <span class="glyphicon glyphicon-ok"></span></li>
                    <li>Участк : <span class="glyphicon glyphicon-ok"></span></li>
                    <li>высота потолка: 2,7</li>
                    <li>утепление: внутреннее</li>-->


                  </ul>
                </div>
                <section class="widget single-property-agent">
                  <div class="agent-info clearfix">
                    <div class="agent-photo">
                      <img class="img-fluid" src="{{imageHelper.getRealEstateImages(selectRealEstate.Employee.ImageUrl)[0]}}" alt="Employee photo">
                    </div>
                    <h3 class="name"><a href="agent-single.html">{{selectRealEstate.Employee.Name}} {{selectRealEstate.Employee.Surname}}</a></h3>
                    <span>Менеджер по продажам</span>
                    <span class="contact">
                      <i class="fa fa-mobile-phone"></i> {{selectRealEstate.Employee.PhoneNumber}}
                    </span>
                  </div>
                </section>
                <div class="space-ten"></div>
                <footer class="property-footer">
                  <div class="row">
                    <div class="col-4">
                      <span class="property-price">
                        <span>$</span>{{
selectRealEstate.RealEstate.Price
                        }}
                      </span>
                    </div>
                    <div class="col-8 text-right">
                      <div *ngIf="!isEmployeeRole" class="btn-ground">
                        <button type="button" class="btn btn-lg btn-primary" (click)="selectRealEstateToOrder()"> Записатся на просмотр </button>

                      </div>
                    </div>
                  </div>
                </footer>






              </div>
            </div>






          </div>
        </div>
      </div>
    </div>
    <!-- Modal detail -->
    <div class="modal-backdrop fade show" (click)="closeModal()"></div>
  </ng-container>

</main>


