			<main id="main" class="main">
        <div id="edit-profile-form" class="edit-profile-form">
          <h3 class="title">Ваша информация</h3>
          <div>
            <label>Загрузить новое фото</label>
            <!--<span class="upload-btn btn btn-block btn-secondary btn-lg">
    <input type="file" style="display:none" name="file" accept="image/*" (change)="handleInputChange($event)">
    <i class="fa fa-cloud-upload"></i>
    Загрузить фото
  </span>-->
 

            <input id="imageUpload" class="hide" name="imageUpload" type="file" accept="image/*" accept=".png,.jpg,.gif" (change)="handleInputChange($event)">
            <label for="imageUpload" class="upload-btn btn btn-block btn-secondary btn-lg">
              <i class="fa fa-cloud-upload"></i>
              Загрузить фото
            </label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <label>Имя</label>
                <input [(ngModel)]="currentPersonModel.Person.Name" type="text" name="fname" placeholder="First Name" class="required" title="*Please provide your first name">
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <label>Фамилия</label>
                <input [(ngModel)]="currentPersonModel.Person.Surname" type="text" name="lname" placeholder="Last Name" class="required" title="*Please provide your last name">
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p>
                <label>Отчество</label>
                <input [(ngModel)]="currentPersonModel.Person.Patronumic" type="text" name="patronumic" placeholder="Patronumic">
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <label>Телефон</label>
                <input [(ngModel)]="currentPersonModel.Person.PhoneNumber" type="text" name="number" placeholder="Number">
              </p>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <p>
                <label>Email</label>
                <input [(ngModel)]="currentPersonModel.Person.Email" type="email" name="email" placeholder="Email" class="required email" title="*Please provide your Email Address">
              </p>
            </div>
          </div>
          <br>
          <h3 class="title">Контакты</h3>
          <div class="row">
            <div class="col-md-6">
              <p>
                <label>Паспорт</label>
                <input [(ngModel)]="currentPersonModel.Person.PassportNumber" type="text" name="passportNumber" placeholder="PassportNumber">
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <label>Город</label>
                <select (ngModelChange)="currentPersonModel.AddressView.Address.AddressCityID=$event" [ngModel]="currentPersonModel.AddressView.Address.AddressCityID" name="Cities">
                  <option [value]=null>Город:</option>
                  <option *ngFor="let addressCity of addressCityList;let i = index" [ngValue]="addressCity.AddressCityID">{{addressCity.AddressCityName}}</option>
                </select>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <label>Район</label>
                <select (ngModelChange)="currentPersonModel.AddressView.Address.AddressRegionID=$event" [ngModel]="currentPersonModel.AddressView.Address.AddressRegionID" name="Regions">
                  <option [value]=null>Район:</option>
                  <option *ngFor="let addressRegion of addressRegionList;let i = index" [ngValue]="addressRegion.AddressRegionID">{{addressRegion.AddressRegionName}}</option>
                </select>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <label>Улица</label>
                <select (ngModelChange)="currentPersonModel.AddressView.Address.AddressStreetID=$event" [ngModel]="currentPersonModel.AddressView.Address.AddressStreetID" name="Streets">
                  <option [value]=null>Улица:</option>
                  <option *ngFor="let addressStreet of addressStreetList;let i = index" [ngValue]="addressStreet.AddressStreetID">{{addressStreet.AddressStreetName}}</option>
                </select>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <label>№ дом</label>
                <input [(ngModel)]="currentPersonModel.AddressView.Address.HomeNumber" type="text" name="twitter" placeholder="Link">
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <label>№ квартиры</label>
                <input [(ngModel)]="currentPersonModel.AddressView.Address.ApartmentNumber" type="text" name="linkedin" placeholder="Link">
              </p>
            </div>
          </div>
          <a (click)="savePersonDataChanges()" class="upload-btn btn btn-block btn-secondary btn-lg">
            Сохранить изменения
          </a>
        </div>
				<br>
				<br>
				<br>
				<div id="change-password-form" class="change-password-form">
					<h3 class="title">Изменить пароль</h3>
					<div class="row">
						<div class="col-lg-6">
							<input [(ngModel)]="resetPasswordModel.NewPassword" type="password" name="newPassword" class="required" [ngClass]="{'error-input':!isSamePasswords}" placeholder="Новый пароль" title="*Please provide new password"></div>
						<div class="col-lg-6">
							<input [(ngModel)]="resetPasswordModel.RepeateNewPassword" type="password" name="repeteNewPassword" class="required" [ngClass]="{'error-input':!isSamePasswords}" placeholder="Повторите новый пароль" title="*Please provide repeate new password"></div>

					</div>
					<input (click)="resetPassword()" type="submit" class="submit-button btn-block" value="Изменить пароль">
					
				</div>
			</main>
