<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h2 class="title">Фильтр по "Загородный дом"</h2>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']">Главная</a>
          </li>

          <li class="breadcrumb-item active">Недвижимость</li>
          <li class="breadcrumb-item active">Загородный дом</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Default Page -->
<div class="container page-container">
  <div class="row">
    <!-- Main Content -->
    <div class="col-lg-4 col-xl-3">
      <aside class="sidebar">
        <section class="widget widget_property_search">
          <h2 class="widget-title">Фильтрация</h2>

          <form class="widget-property-search-form" method="get" autocomplete="off" action="#">

            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginPrice" type="text" placeholder="Цена от:" name="BeginPrice" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndPrice" type="text" placeholder="Цена до:" name="EndPrice" />
            </div>
            <div class="form-group">
              <select name="cbTypesSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateTypeID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateTypeID">
                <option [value]=null>Тип недвижимости</option>
                <option *ngFor="let realEstateType of realEstateTypeList;let i = index" [ngValue]="realEstateType.RealEstateTypeID">{{realEstateType.RealEstateTypeName}}</option>
              </select>
            </div>
            <div class="form-group">
              <select name="cbTypeWallsSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateTypeWallID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateTypeWallID">
                <option [value]=null>Тип стен:</option>
                <option *ngFor="let realEstateTypeWall of realEstateTypeWallList;let i = index" [ngValue]="realEstateTypeWall.RealEstateTypeWallID">{{realEstateTypeWall.RealEstateTypeWallName}}</option>
              </select>
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginNumberOfRooms" type="text" placeholder="Колличество комнат от:" name="BeginNumberOfRooms" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndNumberOfRooms" type="text" placeholder="Колличество комнат до:" name="EndNumberOfRooms" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginLevel" type="text" placeholder="Этаж/Этажность от:" name="BeginLevel" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndLevel" type="text" placeholder="Этаж/Этажность до:" name="EndLevel" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.BeginGrossArea" type="text" placeholder="Общая площадь от:" name="BeginGrossArea" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.EndGrossArea" type="text" placeholder="Общая площадь до:" name="EndGrossArea" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="realEstateFilterView.RealEstateFilter.NearSubway" type="text" placeholder="Близость к метро:" name="NearSubway" />
            </div>
            <div class="form-group">
              <select (ngModelChange)="realEstateFilterView.RealEstateFilter.Elevator=$event" [ngModel]="realEstateFilterView.RealEstateFilter.Elevator" name="CheckElevator">
                <option [value]=null>Наличие лифта:</option>
                <option value="true">Да</option>
                <option value="false">Нет</option>
              </select>
            </div>
            <div class="form-group">
              <select name="cbClassesSource" (ngModelChange)="realEstateFilterView.RealEstateFilter.RealEstateClassID=$event" [ngModel]="realEstateFilterView.RealEstateFilter.RealEstateClassID">
                <option [value]=null>Класс дома:</option>
                <option *ngFor="let realEstateClass of realEstateClassList;let i = index" [ngValue]="realEstateClass.RealEstateClassID">{{realEstateClass.RealEstateClassName}}</option>
              </select>
            </div>
            <div class="form-group">
              <select name="Cities" (ngModelChange)="realEstateFilterView.AddressFilter.AddressCityID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressCityID">
                <option [value]=null>Город:</option>
                <option *ngFor="let addressCity of addressCityList;let i = index" [ngValue]="addressCity.AddressCityID">{{addressCity.AddressCityName}}</option>
              </select>
            </div>
            <div class="form-group">
              <select name="Regions" (ngModelChange)="realEstateFilterView.AddressFilter.AddressRegionID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressRegionID">
                <option [value]=null>Район:</option>
                <option *ngFor="let addressRegion of addressRegionList;let i = index" [ngValue]="addressRegion.AddressRegionID">{{addressRegion.AddressRegionName}}</option>
              </select>
            </div>
            <div class="form-group">
              <select name="Streets" (ngModelChange)="realEstateFilterView.AddressFilter.AddressStreetID=$event" [ngModel]="realEstateFilterView.AddressFilter.AddressStreetID">
                <option [value]=null>Улица:</option>
                <option *ngFor="let addressStreet of addressStreetList;let i = index" [ngValue]="addressStreet.AddressStreetID">{{addressStreet.AddressStreetName}}</option>
              </select>
            </div>
            <div class="widget-advance-fields"></div>
            <button (click)="filterRealEstate()" type="submit" class="form-btn search-btn">
              <i class="ion-android-search"></i>
              Подобрать
            </button>
          </form>
        </section>

        <!--<section class="widget widget_featured_properties">
          <h2 class="widget-title">Горячое предложение</h2>
          <div class="featured-properties-carousel-wrap">
              <div class="featured-properties-carousel owl-carousel owl-theme">
                  <div class="featured-thumbnail">
                      <a ><img src="../../images/demo/property/3.jpg" alt="Luxury Panoramic Loft"></a>
                      <span class="property-price"><span>$</span>787,000</span>
                  </div>
                  <div class="featured-thumbnail">
                      <a><img src="../../images/demo/property/6.jpg" alt="Luxury Panoramic"></a>
                      <span class="property-price"><span>$</span>555,000</span>
                  </div>
              </div>
              <div class="featured-properties-nav-wrapper">
                  <a class="previous-link" href="#"><i class="fa fa-angle-left"></i></a>
                  <a class="next-link" href="#"><i class="fa fa-angle-right"></i></a>
              </div>
          </div>
      </section>-->

      </aside>
    </div>
    <div class="col-lg-8 col-xl-9">
      <main id="main" class="main">

        <div class="row">
          <div class="col-md-6" *ngFor="let itemhouse of realEstateList;let i = index">
            <article class="property-post property-post-grid clearfix">
              <div class="property-thumbnail">
                <a (click)="viewFullProduct(i)" >
                  <img [src]='imageHelper.getRealEstateImages(itemhouse.RealEstate.ImageUrls)[0]' alt="Property"></a>
                
              </div>
              <div class="property-wrap">
                <header class="property-header clearfix">

                  <h2 class="property-title">
                    <a (click)="viewFullProduct(i)" ></a><!--{{itemhouse.name}}-->
                  </h2>
                  <p class="property-location">{{getRealEstateAddress(itemhouse.AddressView)}}</p>
                </header>
                <ul class="property-meta list-unstyled">
                  <li>Общая пл: {{itemhouse.RealEstate.GrossArea}},Этаж: {{itemhouse.RealEstate.Level}},Тип: {{itemhouse.RealEstateType.RealEstateTypeName}}</li>
                </ul>
                <footer class="property-footer">
                  <div class="row">
                    <div class="col-6">
                      <span class="property-price">
                        <span>$</span>
                        {{itemhouse.RealEstate.Price}}
                      </span>
                    </div>
                    <div class="col-6 text-right">
                      <a data-toggle="modal" data-target="#product_view{{i}}" (click)="viewFullProduct(i)" class="btn btn-primary">Подробней</a>
                    </div>
                  </div>
                </footer>
              </div>

              
            </article>
          </div>

        </div>
       
        <ng-container *ngIf="isShowModal">
          <!-- Modal detail -->
          <div class="modal login-modal fade product_view show" id="product_view" style="display: block;">
            <div class="modal-dialog house_modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{selectRealEstate.name}}</h4>
                  <a (click)="closeModal()" data-dismiss="modal" class="closeclass pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                </div>

                <div class="modal-body">


                  <div class="row">
                    <div class="preview col-md-6">

                      <div class="preview-pic tab-content">
                        <div *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" class="tab-pane " [ngClass]="istabImge==i ? 'active' : ''" id="pic-{{i}}" aria-expanded="false"><img src="{{imgitem}}"></div>

                      </div>
                      <ul class="preview-thumbnail nav nav-tabs">
                        <li *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" [ngClass]="istabImge==i ? 'active' : ''"><a data-target="#pic-{{i}}" data-toggle="tab" (click)="tabImge(i)"><img src="{{imgitem}}"></a></li>
                      </ul>

                    </div>

                    <div class="col-md-6 product_content">
                      <div class="property">
                        <header class="property-header clearfix">
                          <h2 class="property-title">
                            {{selectRealEstate.name}}
                          </h2>
                          <p class="property-location">{{getRealEstateAddress(selectRealEstate.AddressView)}}</p>
                        </header>

                        <ul class="property-meta list-unstyled">
                          <li>Тип: {{selectRealEstate.RealEstateType.RealEstateTypeName}}</li>
                          <li>Комнат: {{selectRealEstate.RealEstate.NumberOfRooms}}</li>
                          <li>Жилых этажей: {{selectRealEstate.RealEstate.Level}}</li>
                          <li>Общая пл: {{selectRealEstate.RealEstate.GrossArea}} м²</li>
                          <li>Ближайшая станция метро:{{selectRealEstate.RealEstate.NearSubway}}</li>
                          <li>Тип стен: {{selectRealEstate.RealEstateTypeWall.RealEstateTypeWallName}}</li>
                          <li>Тип предложения: от посредника</li>
                          <!--<li>Балкон: <span class="glyphicon glyphicon-ok"></span></li>-->
                          <li>Лифт: <span class="glyphicon {{selectRealEstate.RealEstate.Elevator?'glyphicon-ok':'glyphicon-remove'}} "></span></li>
                          <!--<li>Отоплением : <span class="glyphicon glyphicon-ok"></span></li>
                  <li>Терраса : <span class="glyphicon glyphicon-ok"></span></li>
                  <li>Сад : <span class="glyphicon glyphicon-ok"></span></li>
                  <li>Участк : <span class="glyphicon glyphicon-ok"></span></li>
                  <li>высота потолка: 2,7</li>
                  <li>утепление: внутреннее</li>-->


                        </ul>
                      </div>
                      <section class="widget single-property-agent">
                        <div class="agent-info clearfix">
                          <div class="agent-photo">
                            <img class="img-fluid" src="{{imageHelper.getRealEstateImages(selectRealEstate.Employee.ImageUrl)[0]}}" alt="Employee photo">
                          </div>
                          <h3 class="name"><a href="agent-single.html">{{selectRealEstate.Employee.Name}} {{selectRealEstate.Employee.Surname}}</a></h3>
                          <span>Менеджер по продажам</span>
                          <span class="contact">
                            <i class="fa fa-mobile-phone"></i> {{selectRealEstate.Employee.PhoneNumber}}
                          </span>
                        </div>
                      </section>
                      <div class="space-ten"></div>
                      <footer class="property-footer">
                        <div class="row">
                          <div class="col-4">
                            <span class="property-price">
                              <span>$</span>{{
selectRealEstate.RealEstate.Price
                              }}
                            </span>
                          </div>
                          <div class="col-8 text-right">
                            <div *ngIf="!isEmployeeRole" class="btn-ground">
                              <button type="button" class="btn btn-lg btn-primary" (click)="selectRealEstateToOrder()"> Записатся на просмотр </button>

                            </div>
                          </div>
                        </div>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal detail -->
          <div class="modal-backdrop fade show" (click)="closeModal()"></div>
        </ng-container>
        



        

      </main>
    </div>
    <!-- Sidebar --> </div>
</div>
