<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h2 class="title">Записатся на  просмотр</h2>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index-2.html">Главная</a>
          </li>
          <li class="breadcrumb-item active">Запись на просмотр</li>
          <li class="breadcrumb-item ">Beach House</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container page-container add-property">
  <main id="main" class="main">
    <div id="add-property-form" class="add-property-form">
      <div class="notice" *ngIf="!LoginStatus">
        <div class="row">
          <div class="col-lg-9">
            <p>
              Запись на просмотр доступна только зарегистированным пользователями. Войдите или зарегистрируйтесь
            </p>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="isShowLoginDialog=!isShowLoginDialog">Вход / регистрация</button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="LoginStatus">
        <div *ngIf="selectedRealEstate" class="col-lg-6 widget widget_popular_listing image-normalize">
          <label>Ваш выбор</label>
          <div class="popular-listing">
            <div class="post-thumb">
              <a>
                <img class="img-fluid" [src]='imageHelper.getRealEstateImages(selectedRealEstate.RealEstate.ImageUrls)[0]' alt="#">
              </a>
            </div>
            <div class="post-content">
              <h3 class="post-title">
                <a>Astoria Villa</a>
              </h3>
              <ul class="post-meta">
                <li>Общая пл: {{selectedRealEstate.RealEstate.GrossArea}}</li>
                <li>Этаж: {{selectedRealEstate.RealEstate.Level}}</li>
                <li>Тип: {{selectedRealEstate.RealEstateType.RealEstateTypeName}}</li>
              </ul>
              <span class="property-price">${{selectedRealEstate.RealEstate.Price}}</span>
            </div>
          </div>
          <hr>
          <p>
            <label>Предпологаемая дата просмотра недвижимости:</label>
            <input [(ngModel)]="orderModel.DateViewRealEstate" (ngModelChange)="getTimeToOrderByDate()" type="date" name="title" class="required" title="* Please provide property title!">
          </p>
          <p>
            <label>Предпологаемое время просмотра недвижимости:</label>
            <select (ngModelChange)="orderModel.TimeDateViewRealEstate=$event" [ngModel]="orderModel.TimeDateViewRealEstate" name="TimeDateViewRealEstate" [disabled]="orderModel.DateViewRealEstate==undefined">
              <option [value]=null>Выберите подходящее время:</option>
              <option *ngFor="let time of freeTimesToDate" [ngValue]="time">{{time}}</option>
            </select>
            <!--<input [(ngModel)]="orderModel.TimeDateViewRealEstate" type="date" name="title" class="required" title="* Please provide property title!">-->
          </p>
          <hr>
          <p>
            <label>Ваш менеджер:</label>
            {{selectedRealEstate.Employee.Name}} {{selectedRealEstate.Employee.Surname}}
          </p>
          <p>
            <label>Телефон менеджера</label>
            {{selectedRealEstate.Employee.PhoneNumber}}
          </p>
        </div>
        <div *ngIf="selectedUser" class="col-lg-6">
          <p>
            <label>Фамилия</label>
            {{selectedUser.Person.Surname}}
            <!--<input type="text" name="title" class="required" title="* Please provide property title!">-->
          </p>
          <p>
            <label>Имя</label>
            {{selectedUser.Person.Name}}
            <!--<input type="text" name="title" class="required" title="* Please provide property title!">-->
          </p>
          <p>
            <label>Отчество</label>
            {{selectedUser.Person.Patronumic}}
            <!--<input type="text" name="title" class="required" title="* Please provide property title!">-->
          </p>
          <p>
            <label>Телефон</label>
            {{selectedUser.Person.PhoneNumber}}
            <!--<input type="text" name="title" class="required" title="* Please provide property title!">-->
          </p>
        </div>
        <input type="submit" class="submit-button btn-block" value="Записатся за просмотр" (click)="submitOrder()">
      </div>
    </div>
  </main>
</div>
<!-- Alert -->
<div *ngIf="showModalUnsver" class="swal-overlay swal-overlay--show-modal" tabindex="-1" data-vivaldi-spatnav-clickable="1">
  <div class="swal-modal" role="dialog" aria-modal="true">
    <div *ngIf="showModalUnsverStatus" class="swal-icon swal-icon--error">
      <div class="swal-icon--error__x-mark">
        <span class="swal-icon--error__line swal-icon--error__line--left"></span>
        <span class="swal-icon--error__line swal-icon--error__line--right"></span>
      </div>
    </div>
    <div *ngIf="showModalUnsverStatus" class="swal-icon swal-icon--success">
      <span class="swal-icon--success__line swal-icon--success__line--long"></span>
      <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
      <div class="swal-icon--success__ring"></div>
      <div class="swal-icon--success__hide-corners"></div>
    </div>
    <div class="swal-title">Спасиобо за Ваш визит!</div>
    <div class="swal-text">А текст кнопик был `не нажимать` :)</div>
    <div class="swal-footer">
      <div class="swal-button-container">
        <button class="swal-button swal-button--confirm" data-vivaldi-spatnav-clickable="1">OK</button>
        <div class="swal-button__loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alert -->
<!-- Login / Register Modal -->
<div class="modal login-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isShowLoginDialog ? 'block' : 'none' }">
  <!--*ngIf="isShowLoginDialog" class="fade"-->
  <!--id="login-modal"-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Личный кабинет</h4>
        <a (click)="closeModal()" data-dismiss="modal" class="closeclass pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="modal-body">
        <div class="tabs">
          <ul class="tabs-nav-list modal-t-lr">
            <li class="sign-in active">Вход</li>
            <li class="register">Регистрация</li>

          </ul>
          <div class="login-tabs-content">
            <div class="tab-content active">
              <sign-in (signInUser)="userSuccessSignIn($event)"></sign-in>

            </div>
            <div class="tab-content">
              <registration (signInUser)="userSuccessSignIn($event)"></registration>

              <div class="related-links text-center">
                <span>Уже есть аккаунт? <a href="#" class="sign-in-form">Войти</a></span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
