<main id="main" class="main">
  <h4 class="title">Список недвижимости</h4>
  <article *ngFor='let itemhouse of realEstatesList; let i = index' class="property-post property-post-list user-properties clearfix">
    <div class="property-thumbnail">
      <a href="single-property.html">
        <img [src]='imageHelper.getRealEstateImages(itemhouse.RealEstate.ImageUrls)[0]' alt="Property">
      </a>
    </div>
    <div class="property-wrap">
      <div class="row align-items-center">
        <div class="col-lg-9">
          <header class="property-header clearfix">
            <h2 class="property-title">
              <a href="single-property.html"></a>
            </h2>
            <p class="property-location">{{getRealEstateAddress(itemhouse.AddressView)}}</p>
          </header>
        </div>
        <div class="col-lg-3">
          <div class="row align-items-center">
            <div class="col-md-9 col-xl-6">
              <div class="property-actions">
                <a (click)="overviewRealEstate(itemhouse)" class="btn btn-primary view-property">
                  <i class="fa fa-eye"></i>
                  Подробней
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <ng-container *ngIf="clickMore">
    <!-- Modal detail -->
    <div class="modal login-modal fade product_view show" id="product_view" style="display: block;">
      <div class="modal-dialog house_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{selectRealEstate.name}}</h4>
            <a (click)="closeModal()" data-dismiss="modal" class="closeclass pull-right"><span class="glyphicon glyphicon-remove"></span></a>
          </div>

          <div class="modal-body">


            <div class="row">
              <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                  <div *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" class="tab-pane " [ngClass]="istabImge==i ? 'active' : ''" id="pic-{{i}}" aria-expanded="false"><img src="{{imgitem}}"></div>

                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                  <li *ngFor="let imgitem of imageHelper.getRealEstateImages(selectRealEstate.RealEstate.ImageUrls);let i = index" [ngClass]="istabImge==i ? 'active' : ''"><a data-target="#pic-{{i}}" data-toggle="tab" (click)="tabImge(i)"><img src="{{imgitem}}"></a></li>
                </ul>

              </div>

              <div class="col-md-6 product_content">
                <div class="property">
                  <header class="property-header clearfix">
                    <h2 class="property-title">
                      {{selectRealEstate.name}}
                    </h2>
                    <p class="property-location">{{getRealEstateAddress(selectRealEstate.AddressView)}}</p>
                  </header>

                  <ul class="property-meta list-unstyled">
                    <li>Тип: {{selectRealEstate.RealEstateType.RealEstateTypeName}}</li>
                    <li>Комнат: {{selectRealEstate.RealEstate.NumberOfRooms}}</li>
                    <li>Жилых этажей: {{selectRealEstate.RealEstate.Level}}</li>
                    <li>Общая пл: {{selectRealEstate.RealEstate.GrossArea}} м²</li>
                    <li>Ближайшая станция метро:{{selectRealEstate.RealEstate.NearSubway}}</li>
                    <li>Тип стен: {{selectRealEstate.RealEstateTypeWall.RealEstateTypeWallName}}</li>
                    <li>Тип предложения: от посредника</li>
                    <li>Лифт: <span class="glyphicon {{selectRealEstate.RealEstate.Elevator?'glyphicon-ok':'glyphicon-remove'}} "></span></li>
                  </ul>
                </div>
                <section class="widget single-property-agent">
                  <div class="agent-info clearfix">
                    <div class="agent-photo">
                      <img class="img-fluid" src="{{imageHelper.getRealEstateImages(selectRealEstate.Employee.ImageUrl)[0]}}" alt="Employee photo">
                    </div>
                    <h3 class="name"><a href="agent-single.html">{{selectRealEstate.Employee.Name}} {{selectRealEstate.Employee.Surname}}</a></h3>
                    <span>Менеджер по продажам</span>
                    <span class="contact">
                      <i class="fa fa-mobile-phone"></i> {{selectRealEstate.Employee.PhoneNumber}}
                    </span>
                  </div>
                </section>
                <div class="space-ten"></div>
                <footer class="property-footer">
                  <div class="row">
                    <div class="col-4">
                      <span class="property-price">
                        <span>$</span>{{
selectRealEstate.RealEstate.Price
                        }}
                      </span>
                    </div>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal detail -->
    <div class="modal-backdrop fade show" (click)="closeModal()"></div>
  </ng-container>
</main>

