
  <div class="user-profile">
    <img class="img-fluid" [src]="imageHelper.getUserImage(currentPersonModel.Person.ImageUrl)" alt="{{currentPersonModel.Person.Name}} {{currentPersonModel.Person.Surname}}">
    <div class="user-info-wrapper">
      <div class="user-info">
        <h3 class="name">{{currentPersonModel.Person.Name}} {{currentPersonModel.Person.Surname}}</h3>
        <span *ngIf="isEmployeeRole">{{userRole}}</span>
      </div>
      <ul class="user-navigation list-unstyled">
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/my-profile/edit-my-profile']"> <i class="fa fa-user"></i>
            Настройки профиля
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/my-profile/list-of-orders']"> <i class="fa fa-list-ul"></i>
            Список заявок
          </a>
        </li>
        <li *ngIf="isEmployeeRole" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/my-profile/list-of-real-estate']">
            <i class="fa fa-plus"></i>
            Список недвижимости
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a (click)="logout()">
            <i class="fa fa-power-off"></i>
            Выйти
          </a>
        </li>
      </ul>
    </div>
  </div>
