<header id="header" class="header header-fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-3">
        <div class="site-branding">
          <div class="wrap">
            <h1 class="site-title">
              <a [routerLink]="['/home']" rel="home">
                <img src="../../images/logo.png" alt="HomeFind">
              </a>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-9">
        <div class="main-navigation-wrapper clearfix">
          <a *ngIf="LoginStatus" id="add-property-link" class="add-property-link" [routerLink]="['/my-profile']">
            <i class="ion-ios-plus-outline"></i>
            Мои заявки на просмотр (5)
          </a>
          <a *ngIf="!LoginStatus" (click)="isShowLoginDialog=!isShowLoginDialog" id="add-property-link" class="add-property-link" ><!--data-toggle="modal" data-target="#login-modal" href="#"-->
            <i class="ion-ios-plus-outline"></i>
            Вход / Регистрация
          </a>
          <nav id="main-navigation" class="main-navigation">
            <div class="menu-primary-container">
              <ul class="menu-primary clearfix">
                <li class="current-menu-item menu-item-has-children">
                  <a [routerLink]="['/home']">Главная</a>
                </li>
                <li *ngIf="router.url !== '/filter'">
                  <a [routerLink]="['/filter']" rel="filter">Каталог</a>
                  <ul class="sub-menu">
                    <li *ngFor="let item of realEstateTypeList">
                      <a (click)="filterByRealEstateType(item.RealEstateTypeID)" rel="filter">{{item.RealEstateTypeName}}</a>
                    </li>

                  </ul>
                </li>
                <li *ngIf="LoginStatus">
                  <a>Личный кабинет</a>
                  <ul class="sub-menu">
                    <li [routerLinkActive]="['link-active']">
                      <a [routerLink]="['/my-profile/edit-my-profile']">Настройки профиля</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                      <a [routerLink]="['/my-profile']">Список заявок</a>
                    </li>
                    <li *ngIf="isEmployeeRole" [routerLinkActive]="['link-active']">
                      <a [routerLink]="['/my-profile/list-of-real-estate']">Список недвижимости</a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                      <a (click)="logout()">Выйти</a>
                    </li>

                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Login / Register Modal -->
<div class="modal login-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isShowLoginDialog ? 'block' : 'none' }"><!--*ngIf="isShowLoginDialog" class="fade"--> 
  <!--id="login-modal"-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Личный кабинет</h4>
        <a (click)="closeModal()" data-dismiss="modal" class="closeclass pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="modal-body">
        <div class="tabs">
          <ul class="tabs-nav-list modal-t-lr">
            <li class="sign-in active">Вход</li>
            <li class="register">Регистрация</li>

          </ul>
          <div class="login-tabs-content">
            <div class="tab-content active">
              <sign-in (signInUser)="userSuccessSignIn($event)"></sign-in>

            </div>
            <div class="tab-content">
              <registration (signInUser)="userSuccessSignIn($event)"></registration>

              <div class="related-links text-center">
                <span>Уже есть аккаунт? <a href="#" class="sign-in-form">Войти</a></span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
