            <main id="main" class="main">

                <h4 class="title">Список заявок</h4>

                <article *ngFor='let itemorder of ordersList; let i = index'  class="property-post property-post-list user-properties clearfix">
                    <div class="property-thumbnail">
                        <a href="single-property.html">
                            <img [src]='imageHelper.getRealEstateImages(itemorder.RealEstateView.RealEstate.ImageUrls)[0]'  alt="Property"></a>
                    </div>
                    <div class="property-wrap">
                        <div class="row align-items-center">
                            <div  [ngClass]="{'col-xl-6':isEmployeeRole,'col-xl-4':!isEmployeeRole}">
                                <header class="property-header clearfix">
                                    <h2 class="property-title">
                                        <a href="single-property.html">Beach House</a>
                                    </h2>
                                    <p class="property-location">{{getRealEstateAddress(itemorder.RealEstateView.AddressView)}}</p>
                                </header>
                                <ul class="property-meta list-unstyled">
                                  <li>{{itemorder.UserView.Person.Surname}} {{itemorder.UserView.Person.Name}} ({{itemorder.UserView.Person.PhoneNumber}})</li>
                                  <li>{{itemorder.Order.DateViewRealEstate}} {{itemorder.Order.TimeDateViewRealEstate}}:00</li>

                                </ul>
                            </div>
                            <div [ngClass]="{'col-xl-6':isEmployeeRole,'col-xl-2':!isEmployeeRole}">
                                <div class="row align-items-center">
                                    <div class="col-md-3 col-xl-6">
                                      <span class="property-status active">{{getOrderStatusText(itemorder.Order.OrderState)}}</span>
                                    </div>
                                    <div class="col-md-9 col-xl-6" *ngIf="isEmployeeRole">
                                        <div class="property-actions">
                                            <a (click)="overviewOrder(itemorder)" class="btn btn-primary view-property">
                                                <i class="fa fa-eye"></i>
                                                Подробней
                                            </a>

                                            <a href="#" class="btn btn-primary delete-property">
                                                <i class="fa fa-times"></i>
                                                Отменить
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" *ngIf="!isEmployeeRole">
                                <section class="widget single-property-agent">
                                    <div class="agent-info clearfix">
                                        <div class="agent-photo">
                                        <img class="img-fluid" [src]="imageHelper.getUserImage(itemorder.EmployeeView.Person.ImageUrl)"></div>
                                        <h3 class="name">
                                          <a href="agent-single.html">{{itemorder.EmployeeView.Person.Surname}} {{itemorder.EmployeeView.Person.Name}} </a>
                                        </h3>
                                        <span>Менеджер по продажам</span>
                                        <span class="contact">
                                          <i class="fa fa-mobile-phone"></i>
                                          {{itemorder.EmployeeView.Person.PhoneNumber}}
                                        </span>
                                    </div>
    
                                </section>
                            </div>
                        </div>
                    </div>
                

                    <div *ngIf="isEmployeeRole && itemorder.isOverView" class="page-container add-property" style="margin:  50px 15px -73px 15px;">

                        <div id="add-property-form" class="add-property-form">

                            <div class="row">

                              <div class="col-lg-6">
                                <p>
                                  <label>Имя</label>
                                  {{selectedOrder.UserView.Person.Name}}
                                  <!--<input [(ngModel)]="selectedOrder." type="text" name="title" class="required" title="* Please provide property title!" value="Игорь">-->
                                </p>
                                <p>
                                  <label>Фамилия</label>
                                  {{selectedOrder.UserView.Person.Surname}}
                                  <!--<input type="text" name="title" class="required" title="* Please provide property title!" value="Токарев" >-->
                                </p>
                                <p>
                                  <label>Отчество</label>
                                  {{selectedOrder.UserView.Person.Patronumic}}
                                  <!--<input type="text" name="title" class="required" title="* Please provide property title!" value="+288555548">-->
                                </p>
                                <p>
                                  <label>Телефон</label>
                                  {{selectedOrder.UserView.Person.PhoneNumber}}
                                  <!--<input type="text" name="title" class="required" title="* Please provide property title!" value="+288555548">-->
                                </p>
                                <p>
                                  <!--<label>Email</label>
    <input type="text" name="title" class="required" title="* Please provide property title!" value="sitesite@mail.fy"></p>-->
                              </div>
                                <div class="col-lg-6">
                                  <p>
                                    <label>Предпологаемая дата:</label>
                                    {{selectedOrder.Order.DateViewRealEstate}} {{selectedOrder.Order.TimeDateViewRealEstate}}:00
                                    <!--<input type="text" name="title" class="required" title="* Please provide property title!" value="25.05.2018">-->
                                  </p>
                                    <p>
                                        <label>Изменить статус</label>
                                        <select name="cbOrderStateSource" (ngModelChange)="updateStateInOrder($event)" [ngModel]="selectedOrder.Order.OrderState">
                                          <option *ngFor="let orderStatus of orderStatusDictionary;let i = index" [ngValue]="orderStatus.orderStateEnumValue">{{orderStatus.orderStateTextValue}}</option>
                    </select>
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </article>

            </main>
